#text {
    margin: 16px;
    font-size: 24px;
}

#dataviz {
    border: 1px solid black;
    height: 500px;
    width: 100%;
    max-width: 500px;
}

#dataviz > svg {
    height: 100%;
    width: 100%;
}

#slider {
    border: 1px solid black;
    height: 100px;
    max-width: 500px;
    width: 100%;
}

#slider > svg {
    height: 100%;
    width: 100%;
}

